<% include header %>

<h1 id="mocha-error">
    Forbidden
</h1>

<p>
    You do not have access to this place. If you are not signed in - please, <a href="/login">do so.</a>
</p>

<% include footer %>
