<% include header %>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Hirondu
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="/profile">My Profile</a></li>
        </ul>
        <a href="/logout" class="btn navbar-link navbar-btn navbar-right">Logout</a></li>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h1> Welcome home, <%- user.username %>!</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>About you</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <% var stats = ['Username', 'Email', 'Verified']; %>
                <% for(var prop in stats) { %>
                    <tr>
                        <td><%= stats[prop]%></td>
                        <td><%= user[stats[prop].toLowerCase()]%></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>
<% include footer %>
